<form method="post">
    <label for="email">Correo electrónico</label>
    <input type="email" name="email">

    <label for="pass">Contraseña</label>
    <input type="password" name="pass">

    <button type="submit">Enviar</button>
</form>